*
{
    padding: 0px;
    margin: 0px;
}

.bg
{
    background-color: rgb(142, 243, 184);
}

.goodtxt
{
    font-family: 'Major Mono Display', monospace;
    font-size: 60px;
    letter-spacing: 7px;
}

.full
{
    width: 100%;
}

.navbar-end a
{
    color: rgb(104, 102, 102);
    text-decoration: underline;
}

.navbar-end a:hover
{
    text-decoration: line-through;
}

.navend
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    letter-spacing: 5px;
}

.container
{
    padding-top: 60px; 
}

#added-boxes
{
    margin-top: 8px;
}

.textarea.code-color
{
    background-color: gainsboro;
    font-size: 17px;
    font-family: 'IBM Plex Mono', monospace;
}

.heading
{
    font-family: 'Staatliches', cursive;
    font-size: 60px;
    color: slateblue;
}

.innerheading
{
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    color: slateblue;
}

.instructions
{
    font-family: 'Cantora One', sans-serif;
    font-size: 25px;
}

pre
{
    font-size: 16px;
    text-align: left;
    display: block;
    unicode-bidi: embed;
    font-family: 'IBM Plex Mono', monospace;
    white-space: pre-line;
}